<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style='padding:0'>
      <div class="container">
        <div class='brand pull-left' style='padding-top:20px'>
            <%#= image_tag "logo.png",{:width=>'30px',:height=>'20px'}%>
          Live Draft Tool
      </div>
      <ul class='nav nav-tabs pull-right'>
        <li class='<%=@tab.nil? ? "active" : ""%>'><a href='#myteam' data-toggle="tab" style="padding:20px">Team</a></li>
        <li class='<%=@tab == 'QB' ? "active" : ""%>'><a href='#QB' data-toggle="tab" style="padding:20px">QBs</a></li>
        <li class='<%=@tab == 'RB' ? "active" : ""%>'><a href='#RB' data-toggle="tab" style="padding:20px">RBs</a></li>
        <li class='<%=@tab == 'WR' ? "active" : ""%>'><a href='#WR' data-toggle="tab" style="padding:20px">WRs</a></li>
        <li class='<%=@tab == 'TE' ? "active" : ""%>'><a href='#TE' data-toggle="tab" style="padding:20px">TEs</a></li>
        <li class='<%=@tab == 'DST' ? "active" : ""%>'><a href='#DEFENSE' data-toggle="tab" style="padding:20px">DEFENSE</a></li>
        <%if user_signed_in? and !session[:league_id]%>
          <li><%=link_to "Logout",destroy_user_session_path, :method => :delete,:style=>"padding:20px"%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>